html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body__view {
    font-family: 'Lato', sans-serif;
    text-align: left;
    max-width: 1000px;
    margin: 20px auto 50px;
    padding: 10px;
    background-color: whitesmoke;
    line-height: 1.4;
}

.body__view--fine {
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px hsl(0, 0%, 85%);
}

.body__view--red {
    font-style: italic;
    text-align: center;
    background-color: red;
    color: white;
    text-shadow: 2px 2px black;
}

.article__picture {
    max-width: 300px;
    box-shadow: 4px 2px 8px 4px #020202;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    list-style-type: none;
    padding-left: 0px;
}

.navigation__link {
    text-decoration: none;
    color: teal;
}

.navigation__link:hover {
    text-shadow: 2px 2px 5px hsl(180, 100%, 30%);
    outline: none;
}

.navigation__link:focus {
    text-shadow: 2px 2px 10px hsl(180, 100%, 50%);
    outline: none;
}

.list {
    padding-left: 0px;
    list-style-position: inside;
}

.list__unordered {
    list-style-type: square;
}

.list__ordered {
    list-style-type: upper-roman;
}

.list__item {
    margin: 5px;
}

.header {
    color: white;
    background-color: #020202;
    padding: 20px;
    text-shadow: 3px 3px #4d4d4d;
}

.header--fine {
    background-color: #4d4d4d;
    text-shadow: 3px 3px black;
}

.aside__author {
    font-weight: bold;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 4px 2px 8px 4px #020202;
}