.navigation {
    list-style-type: none;
    padding-left: 0px;
}

.navigation__link {
    text-decoration: none;
    color: teal;
}

.navigation__link:hover {
    text-shadow: 2px 2px 5px hsl(180, 100%, 30%);
    outline: none;
}

.navigation__link:focus {
    text-shadow: 2px 2px 10px hsl(180, 100%, 50%);
    outline: none;
}