.table {
    overflow-x: auto;
    border-collapse: collapse;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 2px 8px 4px #020202;
}

.table__cell {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 60%);
}

.table__header {
    background-color: #4d4d4d;
    color: white;
}

.table__caption {
    caption-side: bottom;
    margin-top: 20px;
}

.table__row:nth-child(even) {
    background-color: #ededed;
}

.table__row:hover {
    background-color: hsl(0, 0%, 85%);
}
